*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

body{
    background-image: url("./img/sky.jpg");
    background-size: auto;
}

.container{
    display: grid;
    max-width: 1300px;
    height: 500px;
    background-color: gray;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-image:url("./img/bg.gif");
    background-size:auto;
    opacity: 0.5;
    border-radius: 3em;
}


.first--box{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 100px;
    display:grid;
    width: 1000px;
    height: 400px ;
    background: #5C258D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.7;
    align-items: center;
    justify-items: center;
    color: #221d1d;
    border-radius: 0.1em;
    box-shadow: 0 0 5px 10px #555;
}



.inner--box{
    display: grid;
    opacity: 1;
    background-color: aqua;
}